.additionalInfo {
  position: fixed;
  z-index: 12;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

.cross {
  color: red;
  position: absolute;
  top: 5%;
  right: 5%;
}