* {
  padding: 0;
  margin: 0;
}

.main-block-content {
  padding: 15px;
}

.card-container {
  display: flex;
  margin: 15px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.card-item {
  margin: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.additionalInfo {
  position: fixed;
  z-index: 12;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

.cross {
  color: red;
  position: absolute;
  top: 5%;
  right: 5%;
}

.search-input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}